/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@600&display=swap');

html {
    font-family: 'Poppins', sans-serif;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background: #310063;
    background: radial-gradient(circle, #110022 0%, rgba(0,0,0,1) 100%); 
    
}

body {
    font-family: 'Poppins', sans-serif;
    color: #aaa;
    font-weight: bold;
}

.logger {
    position: fixed;
    top: 3px;
    right: 5px;
    width: max-content;
    height: max-content;
    text-align: right;
    font-weight: bold;
    font-style: italic;
    color: #797979;
}

.msgInput {
    position: fixed;
    width: calc(100% - 20px);
    height: max-content;
    bottom: 15px;
    left: 10px;
    background-color: #000;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
    border: 3px #310063 solid;
    box-shadow: inset 0px 0px 30px #1a0033,
                0px 4px 20px #000,
                0px 4px 10px #310063;
    border-radius: 25px;
    font-size: 17px;
    padding: 10px;
    outline: none;
    color: #aaa;
    box-sizing: border-box;
    transition: all 150ms ease;
}

.msgInput:focus {
    background-color: #0a0a0a;
    color: #fff;
    outline: none;
}

::selection {
    color: #111;
    background-color: #aaa;
}

.mainpage {
    cursor: pointer;
    color: #797979;
    text-decoration: underline;
    font-style: italic;
}

.mainpage:hover {
    color: #fff;
    text-decoration: wavy;
}