/*fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@400;500&display=swap');

html {
    font-family: 'Roboto Mono', monospace;
    height: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat:no-repeat;
    background-color: #000;
    user-select: none;
    
}

body {
    font-family: 'Roboto Mono', monospace;
    color: #aaa;
    font-weight: 400;
}

.logger {
    position: fixed;
    top: 3px;
    right: 5px;
    width: max-content;
    height: max-content;
    text-align: right;
    font-style: italic;
    color: #797979;
}

.msgInput {
    position: fixed;
    width: calc(100% - 80px);
    height: max-content;
    bottom: 15px;
    left: 10px;
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
    border-radius: 25px;
    font-size: 17px;
    padding: 10px;
    border: 3px #222 solid;
    outline: none;
    color: #aaa;
    box-sizing: border-box;
    transition: all 150ms ease;
}

.msgInput:focus {
    background-color: #111;
    color: #fff;
    outline: none;
}

::selection {
    color: #111;
    background-color: #aaa;
}

.mainpage {
    cursor: pointer;
    color: #797979;
    text-decoration: underline;
    font-style: italic;
}

.mainpage:hover {
    color: #fff;
    text-decoration: wavy;
}

.material-symbols-outlined {
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24
}

.sendbtn {
    position: fixed;
    bottom: 15px;
    right: 10px;
    height: 52px;
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
    border: 3px #222 solid;
    border-radius: 25px;
    font-size: 17px;
    padding: 10px;
    outline: none;
    color: #fff;
    box-sizing: border-box;
    transition: all 150ms ease;
    cursor: pointer;
}

.sendbtn:hover {
    background-color: #111;
    border: 3px #fff solid;
}
.sendbtn:active {
    background-color: #333;
}

dialog {
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
    
    border: 3px #333 solid;
    box-shadow: 0px 0px 0px 2000px #000a;
    z-index: 100;
    border-radius: 25px;
    font-size: 17px;
    padding: 20px;
    outline: none;
    color: #fff;
    box-sizing: border-box;
    transition: all 150ms ease;
    cursor: pointer;
    position: fixed;
    margin: 0px;
    top: 50vh;
    left: 50vw;
    transform: translate(-50%, -50%);
}

#unameinput {
    height: max-content;
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
    border: 3px #333 solid;
    border-radius: 25px;
    font-size: 17px;
    padding: 10px;
    outline: none;
    color: #aaa;
    box-sizing: border-box;
    transition: all 150ms ease;
}

#unameinput:hover {
    outline: none;
}

#unameinput:focus {
    background-color: #111;
    color: #fff;
    outline: none;
}

button {
    height: max-content;
    background-color: #000;
    font-family: 'Roboto Mono', monospace;
    
    border: 3px #333 solid;
    border-radius: 25px;
    font-size: 17px;
    padding: 10px 20px;
    margin: 20px 0px;
    outline: none;
    color: #fff;
    box-sizing: border-box;
    transition: all 150ms ease;
    cursor: pointer;
}

button:hover {
    background-color: #111;
    border: 3px #fff solid;
}